<h2>Login</h2>
<form action="/auth/login" method="POST">
    <label>E-mail</label>
    <input type="text" name="email" placeholder="name@gmail.com" />
    <label>Password</label>
    <input type="password" name="password" />
    <button type="submit">Login</button>
</form>
